<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    Hello World with EJS
    <div>
        <img class="tarimg"
            src="/imgages/the-tarnished-elden-ring-pc-games-2022-games-playstation-4-3840x2160-7661.jpeg" alt="">
    </div>
</body>

</html>